body, *{
    margin:0;
    background-color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
}


::selection{
    background-color: black;
    color: white;
}


.navbar{
    box-sizing: border-box;

    position: absolute;
    height: 129px;
    width: 98%;
    left: 1px;
    top: 0px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3.2px);
}


.navbar>a{
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    white-space: nowrap; /*da sa na edin red*/
    line-height: 67px;
    text-decoration: none;
    color: #000000;

    position: relative;
} 


.navbar>a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #18272F;
        bottom: 10px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
}

.navbar>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.logo /*Droid Logo*/
{
    width: 60px; 
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    transform: rotate(180deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    position: absolute;
    left: 3.2rem;
    top: 2.8rem;

    background-color: transparent;
}


.logotext /*Droid*/
{
    position: absolute;
    width: 108px;
    height: 46px;
    left: 8.688rem;
    top: 2.8rem;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

    user-select: none;    

    color: #000000;
    background-color: transparent;
}

.navbar>:nth-child(2) /*About Us*/
{
    position: absolute;
    width: 125px;
    height: 67px;
    left: 34.75rem;
    top: 2.438rem;

    background-color: transparent;
}

.navbar>:nth-child(3) /*Contacts*/
{
    position: absolute;
    width: 130px;
    height: 67px;
    left: 50.188rem;
    top: 2.438rem;
    
    background-color: transparent;
}

.navbar>:nth-child(4) /*Products*/
{
    position: absolute;
    width: 8.375rem;
    height: 4.188rem;
    left: 65.625rem;
    top: 2.438rem;

    background-color: transparent;
}

.socialmedias{
    box-sizing: border-box;
    position: absolute;
    width: 171px;
    height: 62px;
    left: 1597px;
    top: 39px;

    background: rgba(214, 214, 214, 0.33);
    border: 2px solid #000000;
    backdrop-filter: blur(10.2px);

    border-radius: 31px;
}

.facebook{
    position: fixed;
    height: 32px;
    left: 100px;
    top: 13px;

    background-color: transparent;
}

.instagram{
    position: fixed;
    height: 32px;
    left: 30px;
    top: 13px;
    
    background-color: transparent;
}
.search-zone{
    background: linear-gradient(180deg, #00A9BF 0%, rgba(112, 185, 194, 0.9) 55.04%, rgba(217, 217, 217, 0.1) 100%);
    border: 1px solid black;
    border-radius: 37px;

    position: absolute;
    left: 44px;
    top: 203px;
    width: 429px;  
    height: 740px;
}
.search-input{
    background: #D9D9D9;
    border: 1px solid black;
    border-radius: 40px;

    font-size: 30px;
    position: fixed;
    left: 73px;
    text-align: center;
    top: 258px;
}
#separator{
    border: 1px solid black;
}
.first-separator-search{
    position: fixed;
    width: 350px;
    top: 330px;
    left: 80px;
}
.filter-heading{
    position: fixed;
    top: 343px;
    left: 190px;

    font-size: 40px;
    line-height: 72px;

    background-color: transparent;
}
.filter-heading-separator{
    position: fixed;
    width: 350px;
    top: 430px;
    left: 80px;
}
.filters-first-option{
    background-color: transparent;

    position: fixed;
    top: 495px;
    left: 80px;
}
.pick-type{
    position: absolute;
width: 229px;
height: 35px;
left: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
top: 235px;


color: black;
background-color: transparent;

}
#type-option1{
position: absolute;
width: 20px;
height: 46px;
left: 50px;
top: 275px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;

color: black;
background: transparent;
}
#type-option2{
    position: absolute;
    width: 20px;
    height: 46px;
    left: 50px;
    top: 320px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    
    color: black;
    background: transparent;
}
label{
    position: absolute;
    width: 251px;
    height: 46px;
    left: 75px;
    top: 320px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    
    color: black;
    background: transparent;
}
.Rehabilitation{
    position: absolute;
    width: 251px;
    height: 46px;
    left: 75px;
    top: 321px;

    color: black;
    background: transparent;
}
.Surgical{
    top:276px;
}
.third-separator{
    position: absolute;
    width: 350px;
    height: 0px;
    left: 40px;
    top: 390px;

    border: 1px solid #000000;
}
.support-heading{
    position: fixed;
    width: 282px;
    height: 157px;
    left: 140px;
    top: 605px;

    background: transparent;
}
.fourth-separator{
    position: absolute;
    width: 350px;
    height: 0px;
    left: 40px;
    top: 505px;
    
}
.rectangle-1{
    position: absolute;
    width: 397px;
    height: 303px;
    left: 589px;
    top: 200px;

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
}
.sunny{
    position: absolute;
    width: 340px;
    height: 235px;
    left: 30px;
    top: 25px;

    filter: brightness(130%);
    background: none;
}
.title-description-sunny{
    position: absolute;
    width: 345px;
    height: 50px;
    left: 613px;
    top: 510px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.description-sunny{
    position: fixed;
    width: 385px;
    height: 52px;
    left: 590px;
    top: 505px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 56px;
    text-align: center;

    color: #000000;
    background: none;
}
span{
    background: none;
}
.rectangle-2{
    position: fixed;
    width: 397px;
    height: 303px;
    left: 1256px;
    top: 200px;

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;

    cursor: pointer;
}
.terover{
    position: fixed;
    width: 305px;
    height: 274px;
    left: 1302px;
    top: 220px;

    filter: brightness(130%);
    background: none;

    cursor: pointer;
}
.title-description-terover{
    position: absolute;
    width: 345px;
    height: 50px;
    left: 1285px;
    top: 510px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;  
}
.description-terover{
    position: fixed;
    width: 385px;
    height: 52px;
    left: 1270px;
    top: 505px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 56px;
    text-align: center;

    color: #000000;filter: brightness(130%);
    background: none;
    background: none;
}
.rectangle-3{
    position: absolute;
    width: 397px;
    height: 303px;
    left: 589px;
    top: 600px;

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
}
.bordo{
    position: absolute;
    width: 393px;
    height: 210px;
    left: -0px;
    top: 37px;

    filter: brightness(130%);
    background: none;

    cursor: pointer;
}
.title-description-bordo{
    position: absolute;
    width: 345px;
    height: 50px;
    left: 613px;
    top: 909px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.description-bordo{
    position: absolute;
    width: 385px;
    height: 52px;
    left: 595px;
    top: 905px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 56px;
    text-align: center;
    
    color: #000000;
    background: none;
}
.rectangle-4{
    position: absolute;
    width: 397px;
    height: 303px;
    left: 1256px;
    top: 600px;

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
}
.Goshi{
    position: absolute;
    width: 215px;
    height: 251px;
    left: 100px;
    top: 30px;

    filter: brightness(130%);
    background: none;

    cursor: pointer;
}
.title-decription-Goshi{
    position: absolute;
    width: 345px;
    height: 50px;
    left: 1282px;
    top: 909px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.description-Goshi{
    position: absolute;
    width: 397px;
    height: 52px;
    left: 1265px;
    top: 905px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 56px;
    text-align: center;

    color: #000000;
    background: none;

}
.english-check{
    position:fixed;
    width: 17px;
    height: 20px;
    left: 107px;
    top: 724px;
    
    background-color: transparent;

    cursor: pointer;
}


.english-check>label{
    position:fixed;
    width: 17px;
    height: 20px;
    left: 137px;
    top: 713px;
}


.bulgarian-check{
    position:fixed;
    width: 17px;
    height: 20px;
    left: 107px;
    top: 780px;
    
    background-color: transparent;

    cursor: pointer;
}


.bulgarian-check>label{
    position:fixed;
    width: 157px;
    height: 49px;
    left: 137px;
    top: 769px;
}


.russian-check{
    position:fixed;
    width: 17px;
    height: 20px;
    left: 107px;
    top: 834px;

    background-color: transparent;
    cursor: pointer;
}

.russian-check>label{
    position:fixed;
    width: 157px;
    height: 49px;
    left: 137px;
    top: 823px;
}

.turkish-check{
    position:fixed;
    width: 17px;
    height: 20px;
    left: 107px;
    top: 890px;

    background-color: transparent;
    cursor: pointer;
}

.turkish-check>label{
    position:fixed;
    width: 157px;
    height: 49px;
    left: 137px;
    top: 880px;
}

.decoration>img:last-child{
    position: fixed;
    top: 0;
    right: 0;

    user-select: none;
    background-color: transparent;
}
.decoration>img:first-child{
    position: fixed;
    top: 0;
    left: 0;
    width: 1500px;

    user-select: none;
    background-color: transparent;
}