body, *{
    margin:0;
    background-color: #F0F0F0;
}
::selection{
    background-color: black;
    color: white;
}
.navbar{
    box-sizing: border-box;

    position: absolute;
    height: 129px;
    width: 98%;
    left: 1px;
    top: 0px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3.2px);
}
.navbar>a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    white-space: nowrap; /*Da sedqt na edin red*/
    line-height: 67px;
    text-decoration: none;
    color: #000000;
    
    position: relative;
} 
.navbar>a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 10px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
    .navbar>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
.logo /*Droid Logo*/
{
    width: 60px; /* Adjust the width and height as needed */
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    transform: rotate(180deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    position: absolute;
    left: 3.2rem;
    top: 2.8rem;
}
.logotext /*Droid*/
{
    position: absolute;
    width: 108px;
    height: 46px;
    left: 8.688rem;
    top: 2.8rem;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

    user-select: none;    
    
    color: #000000;
}
.navbar>:nth-child(2) /*About Us*/
{
    position: absolute;
    width: 125px;
    height: 67px;
    left: 34.75rem;
    top: 2.438rem;
}
.navbar>:nth-child(3) /*Contacts*/
{
    position: absolute;
    width: 130px;
    height: 67px;
    left: 50.188rem;
    top: 2.438rem;
}
.navbar>:nth-child(4) /*Products*/
{
    position: absolute;
    width: 8.375rem;
    height: 4.188rem;
    left: 65.625rem;
    top: 2.438rem;
}
.socialmedias{
    box-sizing: border-box;

    position: absolute;
    width: 171px;
    height: 62px;
    left: 1597px;
    top: 39px;

    background: rgba(214, 214, 214, 0.33);
    border: 2px solid #000000;
    backdrop-filter: blur(10.2px);

    border-radius: 31px;
}
.facebook{
    position: absolute;
    height: 32px;
    left: 100px;
    top: 13px;
}
.instagram{
    position: absolute;
    height: 32px;
    left: 30px;
    top: 13px;
}