body, *{
    margin:0;
    background-color: #F0F0F0;
}
::selection{
    background-color: black;
    color: white;
}
.navbar{
    box-sizing: border-box;

    position: absolute;
    height: 129px;
    width: 98%;
    left: 1px;
    top: 0px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3.2px);
}
.navbar>a{
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 67px;
    text-decoration: none;
    color: #000000;
    
    position: relative;
} 
.navbar>a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 10px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
    .navbar>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
.logo /*Droid Logo*/
{
    width: 60px; /* Adjust the width and height as needed */
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    transform: rotate(180deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    position: absolute;
    left: 3.2rem;
    top: 2.8rem;
}
.logotext /*Droid*/
{
    position: absolute;
    width: 108px;
    height: 46px;
    left: 8.688rem;
    top: 2.8rem;
    
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

    user-select: none;    
    
    color: #000000;
}
.navbar>:nth-child(2) /*About Us*/
{
    position: absolute;
    width: 125px;
    height: 67px;
    left: 34.75rem;
    top: 2.438rem;
}
.navbar>:nth-child(3) /*Contacts*/
{
    position: absolute;
    width: 130px;
    height: 67px;
    left: 50.188rem;
    top: 2.438rem;
}
.navbar>:nth-child(4) /*Products*/
{
    position: absolute;
    width: 8.375rem;
    height: 4.188rem;
    left: 65.625rem;
    top: 2.438rem;
}
.socialmedias{
    box-sizing: border-box;

    position: absolute;
    width: 171px;
    height: 62px;
    left: 1597px;
    top: 39px;

    background: rgba(214, 214, 214, 0.33);
    border: 2px solid #000000;
    backdrop-filter: blur(10.2px);

    border-radius: 31px;
}
.facebook{
    position: absolute;
    height: 32px;
    left: 100px;
    top: 13px;
}
.instagram{
    position: absolute;
    height: 32px;
    left: 30px;
    top: 13px;
}
.c1{
        /* Ellipse 1 */
        position: absolute;
        width: 93px;
        height: 93px;
        border-radius: 93px;
        left: 78px;
        top: 372px;
        
        background: rgba(0, 209, 255, 0.85);
        }
        
        .c2{
            /* Ellipse 6 */
            position: absolute;
            width: 201px;
            height: 201px;
            border-radius: 201px;
            left: 383px;
            top: 454px;

            background: rgba(0, 209, 255, 0.85);
        }
        .c3{
            /* Ellipse 2 */
            position: absolute;
            width: 147px;
            height: 147px;
            border-radius: 147px;
            left: 66px;
            top: 799px;

            background: rgba(0, 209, 255, 0.85);
        }
        .a1{
            /* Rectangle 1 */
            box-sizing: border-box;
            position: absolute;
            width: 360px;
            height: 556px;
            left: 117px;
            top: 335px;

            background: rgba(255, 255, 255, 0.12);
            border: 1px solid #000000;
            backdrop-filter: blur(38.075px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 41px;
        }
        .k1{
            /* Ellipse 1 */
            box-sizing: border-box;
            position: absolute;
            width: 172px;
            height: 172px;
            border-radius: 172px;
            left: 211px;
            top: 368px;

            border: 3px solid #167FBA;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            backdrop-filter: blur(3.4px);
            /* Note: backdrop-filter has minimal browser support */
        }
        .adr1{
            /* Address */
            position: absolute;
            width: 205px;
            height: 50px;
            left: 224px;
            top: 540px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 54px;

            background: none;
            color: #000000;
        }
        .adr2{
            /* zh.k. Meden rudnik, 8009 Захари Стоянов, Burgas */
            position: absolute;
            width: 278px;
            height: 54px;
            left: 158px;
            top: 613px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;

            background: none;
            color: #000000;
       }
       .c4{
            /* Ellipse 3 */
            position: absolute;
            width: 205px;
            height: 205px;
            border-radius: 205px;
            left: 682px;
            top: 125px;

            background: #0096AA;
        }
        .c5{
          /* Ellipse 5 */
          position: absolute;
          width: 176px;
          height: 176px;
          border-radius: 176px;
          left: 1014px;
          top: 502px;

          background: #0096AA;  
        }
        .c6{
            /* Ellipse 8 */
            position: absolute;
            width: 133px;
            height: 126px;
            border-radius: 126px;
            left: 721px;
            top: 574px;

            background: #0096AA;
        }
        .a2{
            /* Rectangle 3 */
            box-sizing: border-box;
            position: absolute;
            width: 360px;
            height: 556px;
            left: 771px;
            top: 176px;
            background: rgba(255, 255, 255, 0.12);
            border: 1px solid #000000;
            backdrop-filter: blur(38.075px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 41px;
        }
        .k2{
            /* email krug */
            box-sizing: border-box;
            position: absolute;
            width: 172px;
            height: 172px;
            border-radius: 172px;
            left: 865px;
            top: 209px;
            border: 3px solid #167FBA;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            backdrop-filter: blur(3.4px);
            /* Note: backdrop-filter has minimal browser support */
        }
        .E-mail1{
            /* E-mail */
            position: absolute;
            width: 144px;
            height: 50px;
            left: 893px;
            top: 381px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 54px;

            background: none;
            color: #000000;
        }
        .E-mail2{
            /* Droid@codingburgas.bg */
            position: absolute;
            width: 260px;
            height: 25px;
            left: 821px;
            top: 454px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;

            background: none;
            color: #000000;
        }
        .c7{
        /* Ellipse 10 */
        position: absolute;
        width: 116px;
        height: 116px;
        border-radius: 116px;
        left: 1729px;
        top: 444px;

        background: #00BCD4;
        }
        .c8{
            /* Ellipse 7 */
            position: absolute;
            width: 209px;
            height: 209px;
            border-radius: 209px;
            left: 1368px;
            top: 502px;

            background: #00BCD4;
        }
        .c9{
            /* Ellipse 4 */
            position: absolute;
            width: 176px;
            height: 176px;
            border-radius: 176px;
            left: 1729px;
            top: 785px;

            background: #00BCD4;
        }
        .a3{
            /* Rectangle 2 */
            box-sizing: border-box;
            position: absolute;
            width: 360px;
            height: 556px;
            left: 1448px;
            top: 335px;
            background: rgba(255, 255, 255, 0.12);
            border: 1px solid #000000;
            backdrop-filter: blur(38.075px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 41px;
        }
        .k3{
            /* phone krug */
            box-sizing: border-box;
            position: absolute;
            width: 172px;
            height: 172px;
            border-radius: 172px;
            left: 1542px;
            top: 368px;

            border: 3px solid #167FBA;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            backdrop-filter: blur(3.4px);
            /* Note: backdrop-filter has minimal browser support */
        }
        .Phone1{
            /* Phone */
            position: absolute;
            width: 117px;
            height: 50px;
            left: 1577px;
            top: 540px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 54px;

            background: none;
            color: #000000;
        }
        .Phone2{
            /* 087 708 6622 */
            position: absolute;
            width: 169px;
            height: 40px;
            left: 1560px;
            top: 613px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;

            background: none;
            color: #000000;

        }
