body, *{
    margin:0;
    background-color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
}

::selection{ /*Kogato markirash opredelen tekst*/
    background-color: black;
    color: white;
}

#no-background{
    background-color: transparent;
}

.navbar{ /*Background-a na navbara*/
    box-sizing: border-box;

    position: absolute;
    height: 129px;
    width: 98%;
    left: 1px;
    top: 0px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3.2px);
}

.navbar>a{ /*Obshto za vsichki kategorii*/
    font-weight: 400;
    font-size: 37px;
    line-height: 67px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap; /* Da sedqt na edin red */
    
    position: relative;
} 

.navbar>a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 10px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
.navbar>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.logo /*Droid Logo*/
{
    width: 86px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    transform: rotate(180deg);
    background-color: transparent;

    position: fixed;
    left: 40px;
    top: 38px;
}

.logo-text /*Droid*/
{
    position: fixed;
    width: 108px;
    height: 46px;
    left: 139px;
    top: 44.8px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

    user-select: none;    
    
    color: #000000;
}

.navbar>:nth-child(2) /*About Us*/
{
    position: absolute;
    width: 125px;
    height: 67px;
    left: 556px;
    top: 39px;
}

.navbar>:nth-child(3) /*Contacts*/
{
    position: absolute;
    width: 130px;
    height: 67px;
    left: 803px;
    top: 39px;
}

.navbar>:nth-child(4) /*Products*/
{
    position: absolute;
    width: 134px;
    height: 67px;
    left: 1050px;
    top: 39px;
}

.socialmedias{ /*Box-a*/
    box-sizing: border-box;

    position: absolute;
    width: 171px;
    height: 62px;
    left: 1497px;
    top: 39px;

    background: rgba(214, 214, 214, 0.33);
    border: 2px solid #000000;
    backdrop-filter: blur(10.2px);

    border-radius: 31px;
}

.facebook{
    position: absolute;
    height: 32px;
    left: 100px;
    top: 13px;
}

.instagram{
    position: absolute;
    height: 32px;
    left: 30px;
    top: 13px;
}

.index-background{
    margin: auto;
}

#background-decoration-left /*Gradienta dolu lqvo*/
{
    position: fixed;
    width: 1238px;
    height: 1238px;
    left: -829px;
    top: 461px;
    
    background: rgba(8, 131, 149, 0.3);
    mix-blend-mode: hard-light; /*za poveche kontrast*/
    filter: blur(250px);
}

#background-decoration-right{ /*Gradienta gore dqsno*/
    position: fixed;
    width: 1238px;
    height: 838px;
    left: 2402px;
    top: -700px;

    background: rgba(0, 209, 255, 0.52);
    mix-blend-mode: hard-light;
    filter: blur(250px);
}

#heading{
    position: fixed;
    width: 716px;
    height: 208px;
    left: 78px;
    top: 268px;
    
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
}

.clear{ /*produce, sell, offer*/
    color : transparent;
    -webkit-text-stroke: 1px #005E6A; 
}

.intro-info{
    position: fixed;
    width: 725px;
    height: 151px;
    left: 78px;
    top: 506px;

    font-size: 22px;
}

.our-team{ /*button*/
    position: fixed;
    width: 256px;
    height: 72px;
    left: 300px;
    top: 789px;

    background: #83D0EA;
    border-radius: 38px;
    border: 6px solid #00B2C8;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0.96px;
    
    color: #FFFFFF;
    cursor: pointer;
}

.droid{ /*snimkata na robota*/
    position: fixed;
    width: 530px;
    height: 877px;
    left: 987px;
    top: 123px;
    filter: brightness(130%);
    background-color: transparent;

    user-select: none;
}