body, *{
    margin:0;
    background-color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
}

::selection{
    background-color: black;
    color: white;
}

.navbar{
    box-sizing: border-box;

    position: absolute;
    height: 129px;
    width: 98%;
    left: 1px;
    top: 0px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.navbar>a{
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    white-space: nowrap; /*Da sedqt na edin red*/
    line-height: 67px;
    text-decoration: none;
    color: #000000;
    
    position: relative;
    background-color: transparent;
} 

.navbar>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 10px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    background-color: transparent;
    }
  
    .navbar>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    background-color: transparent;
  }

.logo /*Droid Logo*/
{
    width: 60px; /* Adjust the width and height as needed */
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    transform: rotate(180deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    position: fixed;
    left: 3.2rem;
    top: 2.8rem;

    user-select: none;
}

.logotext /*Droid*/
{
    position: fixed;
    width: 108px;
    height: 46px;
    left: 8.688rem;
    top: 2.8rem;
    
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

    user-select: none;    
    
    color: #000000;
    background-color: transparent;
}

.navbar>:nth-child(2) /*About Us*/
{
    position: fixed;
    width: 125px;
    height: 67px;
    left: 34.75rem;
    top: 2.438rem;
}

.navbar>:nth-child(3) /*Contacts*/
{
    position: fixed;
    width: 130px;
    height: 67px;
    left: 50.188rem;
    top: 2.438rem;
}

.navbar>:nth-child(4) /*Products*/
{
    position: fixed;
    width: 8.375rem;
    height: 4.188rem;
    left: 65.625rem;
    top: 2.438rem;
}

.socialmedias{
    box-sizing: border-box;

    position: fixed;
    width: 171px;
    height: 62px;
    left: 1597px;
    top: 39px;

    background: rgba(214, 214, 214, 0.33);
    border: 2px solid #000000;
    backdrop-filter: blur(10.2px);

    border-radius: 31px;
}

.facebook{
    position: fixed;
    height: 32px;
    left: 100px;
    top: 13px;
}

.instagram{
    position: fixed;
    height: 32px;
    left: 30px;
    top: 13px;
}

#heipi{
    position: absolute;
    width: 802px;
    height: 743px;
    left: 72px;
    top: 168px;

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 82px;
}

.heipi-productunny{

    position: absolute;
    width: 740px;
    height: 440px;
    left: 103px;
    top: 320px;

    filter: brightness(130%);
    background: none;
}

.heipi-product{

    position: absolute;
    width: 740px;
    height: 690px;
    left: 10px;
    top: 50px;

    background-color: transparent;
}

h1{
    /* Heipi */

    position: absolute;
    width: 335px;
    height: 131px;
    left: 1132px;
    top: 129px;

    font-weight: 600;
    font-size: 100px;
    line-height: 150px;

color: #000000;
}

p{
    position: absolute;
    width: 739px;
    height: 448px;
    left: 974px;
    top: 312px;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
    background: none;
    }
    
    .heipi-decoration{
    position: fixed;
    width: 500px;
    height: 400px;
    left: 1420px;
    top: 652px;

    user-select: none;
}

.heipi-purchase{
    position: absolute;
    width: 553px;
    height: 90px;
    left: 1050px;
    top: 780px;

    background: #00BCD4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;

    font-size: 48px;
    color: #005E6A;

    cursor: pointer;
}